body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3a3a3a;
}

.App > h2 {
  color: white;
  position: sticky;
  top: 10px;
  background-color: #3a3a3ac9;
  width: 100%;
  text-align: center;
  padding: 15px;
}

.spinner-placeholder {
  width: 80px;
  height: 80px;
}

.post {
  display: flex;
  margin: 10px 20px;
  max-width: 700px;
  border-radius: 5px;
  background-color: white;
}

.post.loading {
  justify-content: center;
}

.post-img {
  flex: 1;
  min-width: 200px;
  height: 200px;
}
.post img {
  height: 200px;
  border-radius: 5px;
}

.post-body {
  flex: 5;
  padding-left: 20px;
}